@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Courgette", cursive;
}

.input {
    width: 50%;
}

.css-oe0os1-MuiSvgIcon-root {
    color: white !important;
    font-weight: 700;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 2px solid white !important;
    border-right: 2px solid white !important;
    border-radius: 10px !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root {
    color: white !important;
}
.MuiIconButton-colorPrimary {
    color: white !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    flex: 1 !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: rgba(255, 255, 255, 0.6) !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6) !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #ffffff !important;
}

@media only screen and (max-width: 1200px) {
    .header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Courgette", cursive;
    }
    .MuiBox-root css-1nylpq2{
        width: 100px;
    }

}
