@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;600;700&display=swap");

.weather {
    height: 100vh;
    width: 100vw;
    color: #262f63;
}
.weather__dark {
    background-color: #232535;
    color: white;
}
.hot {
    background-color: #f2b07b;
}
.cloudy {
    background-color: #5ac9fa;
}
.thunder {
    background-color: #5ad8d6;
}
.hotdiv {
    background-color: #fdc78c;
}
.cloudydiv {
    background-color: #88d9fb;
    
}
.thunderdiv {
    background-color: #96f5f5;
}

.impData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dandh {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.daily {
    width: 50%;
    height: 490px;
    overflow-x: hidden;
    overflow-y: scroll;

    border-radius: 10px;
    margin: 20px auto;
}
.daily__dark{
    background-color: #434652;
}
.daily::-webkit-scrollbar {
    display: none;
}
.daily h2{
    margin: 10px 40px;
    font-family: 'Courgette', cursive;
}
.daily__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    transition: transform 450ms;
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px 20px;
}
.daily__card:hover {
    transform: scale(1.08);
}
.daily__img {
    width: 50px;
    height: 50px;
}
.day__night {
    margin-left: auto;
    padding: 20px;
}
.hourly {
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
}
.hourly__dark{
    background-color: #434652;
}
.hourly::-webkit-scrollbar {
    display: none;
}
.hourly__ele {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding-top: 10px;
    margin-right: 10px;
    margin: 10px auto;
    transition: transform 450ms;
    border-right: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.hourly__ele:hover {
    transform: scale(1.08);
}

.hourly__img {
    width: 50px;
    height: 50px;
}
.hourly__temp {
    font-size: 25px;
    padding: 0px 10px;
}
@media only screen and (max-width: 1200px) {
    .weather {
        height: 100%;
        width: 100vw;
        
    }
    .impData {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dandh {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .daily {
        width: 90%;
        height: 490px;
        
        margin: 20px auto;
    }
    .hourly {
        margin-top: 20px;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 20px;
    }
    

}

